<a href="https://colab.research.google.com/github/Arun89-crypto/APP-Lab-Questions/blob/main/APP_(Lab_Session_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Easy Questions

1. Write a Python program to find those numbers which are divisible by
8 and multiple of 5, between 1000 and 2000 (both included)

In [ ]:
# Loop from 1000 - 2000
for i in range(1000,2001):
    if(i%5 == 0 and i%8 == 0):
      print(i)

2. Write a Python program to guess a number between 1 to 9. Note : User
is prompted to enter a guess. If the user guesses wrong then the prompt
appears again until the guess is correct, on successful guess, user will get
a "Well guessed!" message, and the program will exit.

In [ ]:
import random
num = random.randint(0,9)
while True:
  n = int(input("Enter your guess : "))
  if(n == num):
    print("Well guessed!")
    break
  else:
    print("Nop!")

3. Write a Python program to construct the following pattern, using a nested
for loop.

```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
n = int(input("Enter your number : "))
for i in range(1,n+1):
  print("*"*i)
for i in range(n-1,0,-1):
  print("*"*i)

4. Write a Python program which takes two digits m (row) and n
(column) as input and generates a two-dimensional array. The element
value in the i-th row and j-th column of the array should be i*j. 

  Note :

  i = 0,1.., m-1

  j = 0,1, n-1.

  Test Data : Rows = 3, Columns = 4

  Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [ ]:
n = int(input("Enter number of rows : "))
m = int(input("Enter number of cols : "))

arr = []

for i in range(n):
  temp = []
  for j in range(m):
    temp.append(i*j)
  arr.append(temp)

print(arr)

5. Write a Python program that accepts a string and calculate the number
of digits and letters.

  Sample Data : SRMIST 2022

  Expected Output :

  Letters 6

  Digits 4

In [ ]:
s = input("Enter the string : ")
letters = 0
digits = 0
for char in s:
  if char.isdigit():
    digits += 1
  if char.isalpha():
    letters += 1

print("Letters : ", letters);
print("Digits : ", digits);

# Difficult Questions

1. Find pythagorean triplet

In [ ]:
a = int(input("Enter num 1 : "))
b = int(input("Enter num 2 : "))
c = int(input("Enter num 3 : "))

a = a**2
b = b**2
c = c**2

if(c == a + b or b == a + c or a == b + c):
  print("Pythagorean triplet")
else:
  print("Not a Pythagorean triplet")

2. Write a program that accepts a series of name and salaries and End as input marks as the end of the loop. print the average salary and names and salaries of the lowest and highest salary

In [ ]:
from operator import itemgetter

data = []
count = 0

while True:
  name = input("Enter the name : ")
  if(name == "END"):
    break
  salary = int(input("Enter the salary : "))
  data.append({"name" : name, "salary" : int(salary)})
  count += 1

newlist = sorted(data, key=itemgetter('salary')) 

average = 0

for obj in newlist:
  average += obj["salary"]

average = average/count

print(average)
print("Lowest : ",newlist[0]["name"] , newlist[0]["salary"])
print("Highest : ",newlist[count-1]["name"] , newlist[count-1]["salary"])

3. print tables of powers of x

In [ ]:
n = int(input("Enter the number : "))

for i in range(1,11):
  print(n,"^",i,"=",n**i)