# Practice Questions:

1. Write a SQL lites statement to create a table names as employees including columns
employee_id, first_name, last_name, email, phone_numberhire_date, job_id, salary,
commission, manager_id and department_id
i) Insert values in the table and also execute the table structure
ii) Display the first name, last name of an employees whose salary is greater than 25,000

In [ ]:
CREATE DATABASE Task;

USE Task;

CREATE TABLE employees
(employee_id int auto_increment, 
first_name char(100),
last_name char(100), 
email varchar(100), 
phone_number varchar(100), 
hire_date varchar(100), 
job_id int, 
salary int,
commission int,
manager_id int,
department_id int,
PRIMARY KEY(employee_id));

TRUNCATE TABLE employees;

ALTER TABLE employees
MODIFY COLUMN hire_date date;

INSERT INTO employees(first_name, last_name, email, phone_number, hire_date, job_id, salary, commission, manager_id, department_id)
VALUES ('Aditya', 'Udaya', 'ap@gmail.com', 457851224, '10-10-10', 1, 100000, 94564, 2, 1),
('Arun', 'Jangra', 'aj@gmail.com', 515451215, '11-11-11', 6, 10000, 654846, 4, 2),
('Sai', 'Kumar', 'sk@gmail.com', 84548454, '30-11-20', 4, 55541, 1000, 10, 11),
('Avinash', 'Bolla', 'ab@gmail.com', 876549854, '20-04-04', 8, 100040, 432164, 7, 8),
('Varma', 'Penmesta', 'vp@gmail.com', 78755884, '31-01-20', 10, 11646, 44654, 12, 21);

SELECT * FROM employees;

SELECT first_name, last_name FROM employees WHERE salary>25000;