<a href="https://colab.research.google.com/github/Arun89-crypto/APP-Lab-Questions/blob/main/APP_(Lab_Session_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to print the statement Hello,world! in python.

In [2]:
print("Hello World")

Hello World

2. Write a program to perform addition of two number in python.

In [3]:
a = 1.5
b = 2.5
print(f"The sum of {a} and {b} is : {a+b}")

The sum of 1.5 and 2.5 is : 4.0

3. Write a program to calculate the square root of the number in python.

In [5]:
a = float(input("Enter the number : "))
sq_root = a ** 0.5
print(sq_root)

Enter the number : 100
10.0

4. Write a program to find the area of triangle in python.

In [6]:
a = int(input("Enter side A : "))
b = int(input("Enter side B : "))
c = int(input("Enter side C : "))

S = (a + b + c)/2 # Semi parameter
Area = S*(S-a)*(S-b)*(S-c)
Area = Area**0.5

print(f"The area of triangle with vertices {a},{b} and {c} is : {Area}")

Enter side A : 4
Enter side B : 5
Enter side C : 7
The area of triangle with vertices 4,5 and 7 is : 9.797958971132712

5. Write a program to find out the quadratic equation in python.

In [7]:
# Take inputs
a = int(input("Enter Coefficient of x^2 (a) : "))
b = int(input("Enter Coefficient of x (b) : "))
c = int(input("Enter Coefficient of 1 (c) : "))

# Calculation 
D = (b**2) - (4*a*c)
D_root = D**0.5

Sol1 = (-b + D_root)/(2*a)
Sol2 = (-b - D_root)/(2*a)

# Output
print(f"the solutions of the equations are : {Sol1} & {Sol2}")

Enter Coefficient of x^2 (a) : 1
Enter Coefficient of x (b) : -5
Enter Coefficient of 1 (c) : 6
the solutions of the equations are : 3.0 & 2.0

6. Write a program to swapping of two numbers in python.

In [9]:
x = int(input("Enter first number : "))
y = int(input("Enter second number : "))

# Swapping
c = y
y = x
x = c

print(f"The numbers after swapping are {x} & {y}")

Enter first number : 2
Enter second number : 3
The numbers after swapping are 3 & 2

7. Write a program to generate a random number between 0 and 9 in python.

In [14]:
import random

a = random.randint(0,9)

print(f"Random number between 0 and 9 is : {a}")

Random number between 0 and 9 is : 3

8. Write a program to Taking kilometers input from the user in python

In [16]:
km = float(input("Enter the kilometers : "))
miles = km*0.621371

print(f"{km} kms = {miles} miles")

Enter the kilometers : 100
100.0 kms = 62.137100000000004 miles

9. Write a program to convert temperature in celsius to fahrenheit in python.

In [17]:
celsius = float(input("Enter the temp in celsius : "))

fahrenheit = (celsius*(9/5))+32

print(f"The temparature in fahrenheit is : {fahrenheit}")

Enter the temp in celsius : 100
The temparature in fahrenheit is : 212.0

10. Write a program to check if the input number is odd or even in python.

In [18]:
number = int(input("Enter the number : "))
if(number%2 == 0):
  print("The number is Even")
else:
  print("The number is Odd")

Enter the number : 11
The number is Odd

11. Write a program to check if year is a leap year or not in python.

In [21]:
year = int(input("Enter the year : "))

if(year%400 and year%100):
  print(f"Year : {year} is a leap year")
elif(year%4==0 or year%100 != 0):
  print(f"Year : {year} is a leap year")
else:
  print(f"Year : {year} is not a leap year")

Enter the year : 2000
Year : 2000 is a leap year

12. Write a program to find the largest number among the three input numbers in python.

In [29]:
a = float(input("Enter number A : "))
b = float(input("Enter number B : "))
c = float(input("Enter number C : "))


if(a > b):
  if(a > c):
    print(f"The larget of the three numbers is {a}")
  else:
    print(f"The larget of the three numbers is {c}")
else:
  if(c > b):
    print(f"The larget of the three numbers is {c}")
  else:
    print(f"The larget of the three numbers is {b}")

Enter number A : 2
Enter number B : 4
Enter number C : 3
The larget of the three numbers is 4.0

13. Write a program to check if a number is prime or not

In [32]:
number = int(input("Enter the number : "))

flag=True

for i in range(2,number):
  if(number%i == 0):
    flag=False
    break

if(flag):
  print(f"The number {number} is a prime number")
else:
  print(f"The number {number} is not a prime number")

Enter the number : 47
The number 47 is a prime number

14. Write a program to display all the prime numbers within an interval in python.

In [34]:
a = int(input("Enter the first number of the interval : "))
b = int(input("Enter the second number of the interval : "))

arr= []

for i in range(a,b+1):
  flag = True
  for j in range(2,i):
    if i%j == 0:
      flag = False
      break
  if(flag):
    arr.append(i)

print(f"The prime numbers in range {a} and {b} is : ")
print(arr)

Enter the first number of the interval : 20
Enter the second number of the interval : 50
The prime numbers in range 20 and 50 is :
[23, 29, 31, 37, 41, 43, 47]

15. Write a program to find the factorial of a number provided by the user in python.

In [38]:
number = int(input("Enter the number : "))

fac = 1
for i in range(1,number+1):
  fac = fac*i

print(f"The factorial of {number} is {fac}")

Enter the number : 5
The factorial of 5 is 120

16. Write a program to find Multiplication table (from 1 to 10) in python.

In [39]:
number = int(input("Enter the number : "))

for i in range(1,number+1):
  print(f"{number} x {i} = {number*i}")

Enter the number : 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

17. Write a Program to display the Fibonacci sequence up to n-th term

In [43]:
number = int(input("Enter the number : "))

def fobonacci(n):
  a = 0
  b = 1
  if(n == 1):
    print(a)
  elif n == 2:
    print(a)
    print(b)
  else:
    print(a)
    print(b)
    for i in range(n-2):
      num = a + b
      a = b
      b = num
      print(num)

fobonacci(number)

Enter the number : 10
0
1
1
2
3
5
8
13
21
34

18. Write a program to check if the number is an Armstrong number or not in python.

In [50]:
number = int(input("Enter the number : "))

sum = 0

def cube(n):
  return n**3

temp = number
while(temp != 0):
  digit = int(temp%10)
  sum = sum + cube(digit)
  temp = int(temp/10)

if(sum == number):
  print(f"The number {number} is an Armstrong number")
else:
  print(f"The number {number} is not an Armstrong number")

Enter the number : 154
The number 154 is not an Armstrong number

19. Write a Program to check Armstrong numbers in a certain interval in python

In [56]:
a = int(input("Enter the first number of an interval : "))
b = int(input("Enter the second number of an interval : "))

def cube(n):
  return n**3

def checkArmstrong(n):
  sum = 0
  temp = n
  while(temp != 0):
    digit = int(temp%10)
    sum = sum + cube(digit)
    temp = int(temp/10)
  if(sum == n):
    return True
  else:
    return False

arr = []

for i in range(a,b+1):
  if(checkArmstrong(i) == True):
    arr.append(i)

print(f"The Armstrong numbers in range {a} to {b} is :")
print(arr)

Enter the first number of an interval : 1
Enter the second number of an interval : 500
The Armstrong numbers in range 1 to 500 is :
[1, 153, 370, 371, 407]

20. Write a program to find Sum of natural numbers up to num in python.

In [57]:
number = int(input("Enter the number : "))

sum = 0

for i in range(1,number+1):
  sum += i

print(f"The sum of first {number} natural numbers is {sum}")

Enter the number : 5
The sum of first 5 natural numbers is 15

21. Write a program to display the powers of 2 using anonymous function in python

In [58]:
terms = int(input("Enter the terms : "))

results = list(map(lambda x: 2 ** x, range(terms)))

for i in range(terms):
  print(f"2 to the power {i} is : {results[i]}")

Enter the terms : 10
2 to the power 0 is : 1
2 to the power 1 is : 2
2 to the power 2 is : 4
2 to the power 3 is : 8
2 to the power 4 is : 16
2 to the power 5 is : 32
2 to the power 6 is : 64
2 to the power 7 is : 128
2 to the power 8 is : 256
2 to the power 9 is : 512

22. Write a program to convert decimal into other number systems in python

In [59]:
number = int(input("Enter the number : "))

print(f"{bin(number)} in Binary")
print(f"{oct(number)} in Octal")
print(f"{hex(number)} in Hexadecimal")

Enter the number : 20
0b10100 in Binary
0o24 in Octal
0x14 in Hexadecimal

23. Write a Program to find the ASCII value of the given character in python.

In [60]:
char = input("Enter the Character : ")

print(f"The ASCII of Character {char} is {ord(char)}")

Enter the Character : a
The ASCII of Character a is 97